@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
}

.container {
    background: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    color: #B31312;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    color: #2B2A4C;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #C2C7CB;
    text-align: center;
}

th {
    background-color: #B31312;
    color: white;
}

td {
    background-color: #EEEEEE;
}
